
<div class="header navbar ">
	<div class="shadowleft"></div>
	<div class="shadowright"></div>

	<nav class="main-nav" id="title">

		<div class="text-center" >
			<h1 class="text-thin">Job Tracker</h1>
		</div>
	</nav>
</div>